.icon-input-container {
  @apply border flex items-center h-[60px] rounded-md;
  @apply px-4 gap-4;

  .input-container {
    @apply h-[41p] flex flex-col w-full;

    .label {
      @apply text-field-sm;
    }

    .input {
      @apply w-full text-field-lg text-ellipsis;
      @apply bg-transparent;
    }

    input:focus {
      outline: none;
    }
  }

  .unlabeled-input {
    @apply text-field-sm;
  }

  .unlabeled-input:focus {
    outline: none;
  }

  .icon {
    @apply text-golden-rod;
  }

  &.error {
    @apply border-alert-dark text-alert-dark;

    .icon {
      @apply text-alert-dark;
    }
  }
}
