.base-input {
  @apply py-1 pl-2 w-full h-full
    appearance-none   
    bg-transparent

    text-sm
    font-semibold

    border 
    outline-none
    rounded  

    placeholder:font-normal 
        
    focus:outline-2 
    focus:outline-black
    focus:outline-offset-0

    duration-200 
    ease-in-out 
    transition-colors;

  &.disabled {
    @apply pointer-events-none cursor-default font-normal;
  }

  &.error {
    @apply border border-red-500;
  }
}
